body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: rgb(255,245,238);
}
h1 {
  color: #333;
  margin-bottom: 20px;
}
div {
  text-align: center;
}
input {
  width: 250px;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #9370DB;
  border-radius: 8px;
  font-size: 14px;
}
button {
  padding: 10px 20px;
  background-color: #9370DB;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}


.btn-style {
  margin: 10px;
  width: 200px;

}
